<div class="grid">
  <div class="col">
    <div class="text-center p-3 border-round-sm  font-bold">
      <div class="card">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center mt-3">
          <!-- Profile picture image-->
          <img class="img-account-profile border-circle mb-2" height="200px" width="200px"
            src="{{apiUrl+userDetail.profile_image}}" alt="">
          <!-- Profile picture help block-->
          <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
          <!-- Profile picture upload button-->
          <input type="file" #fileUpload (change)="onFileSelected($event)" name="" class="hidden">
          <button pButton icon="pi pi-upload" class="p-button p-button-primary" (click)="uploadImage()"
            type="button">&nbsp;&nbsp;Upload new image</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="text-center p-3 border-round-sm  font-bold ">
      <div class=" p-mb-4">
        <div class="p-card-header">
          <h3>Account Details</h3>
        </div>
        <div class="p-card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div class="grid">
              <div class="col">
                <div class="flex align-items-center gap-3 mb-3 mt-3">
                  <label for="inputUsername" class="font-semibold w-6rem">Username</label>
                  <input pInputText type="text" autocomplete="off" id="inputUsername" formControlName="name"
                    class="flex-auto" placeholder="Enter your username" />
                  <!-- Show validation errors -->
                  <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="p-error p-text-sm">
                    <small *ngIf="name?.errors?.['required']">Username is required.</small>
                    <small *ngIf="name?.errors?.['minlength']">Username must be at least 3 characters long.</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="col">
                <div class="flex align-items-center gap-3 mb-3 mt-3">
                  <label for="inputEmailAddress" class="font-semibold w-6rem">Email</label>
                  <input pInputText type="email" autocomplete="off" id="inputEmailAddress" formControlName="email"
                    class="flex-auto" placeholder="Enter your email address" />
                  <!-- Show validation errors -->
                  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="p-error p-text-sm">
                    <small *ngIf="email?.errors?.['required']">Email is required.</small>
                    <small *ngIf="email?.errors?.['email']">Please enter a valid email address.</small>
                  </div>
                </div>
              </div>
            </div>


            <!-- Save Changes Button -->
            <div class="p-field">
              <button pButton type="submit" label="Save Changes" icon="pi pi-check" class="p-button p-button-primary"
                [disabled]="userForm.invalid"></button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>