.side-nav {
    transition: width 0.5s, padding 0.6s;
    background-color: #37404c;
    width: 280px;
}

.side-nav.collapsed {
    width: 0px;
    overflow: hidden;
    padding: 0rem;

}

.side-nav.collapsed a {
    font-size: 0;
}

.content-area {
    transition: width 0.5s;
}

.content-area.col-10 {
    width: calc(100% - 280px);
}

.content-area.col-12 {
    width: 100%;
}

.footer {
    position: absolute;  /* Positioned relative to its nearest positioned ancestor */
    bottom: 0;           /* Stick to the bottom */
    width: 100%;         /* Full width of the page */
    height: auto;        /* Adjust height based on content */
    background-color: #f8f9fa; /* Optional background color for visibility */
}